@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* HOME */
.heading {
    height: 5vw;
    background-color: #0077B6;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    font-family: "Poppins", sans-serif;
    width: 82vw;
}

/*add new button*/
.new-btn-box{
    width: 100%;
    cursor: pointer;

}
#add-new-todo {
    position: relative;
    top: 1vw;
    left: 1.5vw;
    width: 10vw;
    height: 3vw;
    border: none;
    border-radius: 10px;
    background-color: #0096C7;
    color: white;
    font-size: 1.5vw;


}


/*under heading container for all*/
.home-box {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* all tasks box */
.todo-view-box {
    padding: 1vw 5vw;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
}

/* all to do cards container */
.all-todo,
.category-box,
.finished-tasks-disp {
    border: 1px solid #0077B6;
    border-radius: 10px;
    width: 70vw;
    background-color: aliceblue;
    height: 34vw;
}

.scroll {
    overflow: scroll;
    height: 28vw;
}


/* tasks heading -  All tasks*/
.allt-heading,
.cat-heading,
.fin-heading {
    background-color: #0077B6;
    border-radius: 10px 10px 0 0;
    padding: 1vw 0;
    margin-bottom: 1vw;
    color: white;
    padding-left: 1vw;
}

/* ngFor generated content holder*/
.area-item,
.del-item {
    background-color: #0096C7;
    margin: 0.5vw 1vw;
    padding: 0.8vw;
    color: white;
    border-radius: 10px;
}
.task-name {
    height: 2vw;
    transition: 0.3s ease;
}

.task-name:hover {
    font-size: 1.4vw;
    cursor: pointer;
}

/* task text and button organize*/
.task-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ti-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* edit and delete button container*/
.task-buttons {
    padding-left: 1vw;
    display: flex;
    gap: 1vw;
}

button {
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.task-edit-btn:hover,
.task-delete-btn:hover {
    width: 2.2vw;
    height: 2.2vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.task-edit-btn {
    color: #0096C7;
}

.task-delete-btn {
    color: #ba1a1a;
}

/* category cards */
.cat-card-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.8vw;
    flex-wrap: wrap;
    overflow: scroll;
    height: 28vw;
    padding-top: 0.4vw;

}

.new-category, 
.category-card {
    width: 9vw;
    height: 9vw;
    background-color: #0096C7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.4vw;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
}

.new-category:hover, 
.category-card:hover {
    width: 10vw;
    height: 10vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.new-category fa-icon {
    font-size: 4vw;
}

/* finished tasks */
.finished-tasks-disp {
    /* width: 100%; */
    margin-top: 3vw;
}

.fin-tasks-box {
    padding: 0.3vw 1vw;
    display: flex;
    flex-direction: column;
    height: 28vw;
    overflow: scroll;

}

.del-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.del-item p {
    color: rgb(218, 218, 218);
    text-decoration: line-through;
}

.del-item p:hover {
    color: #ba1a1a;
    text-decoration: none;
    cursor: pointer;
}


.delete-fin-taks {
    width: 3vw;
    height: 3vw;
   
}

.delete-fin-taks fa-icon {
    font-size: 1.5vw;
}

.delete-fin-taks fa-icon:hover {
    color: #ba1a1a;
    cursor: pointer;
}

/* .del-name:hover,
.del-desc:hover,
.del-category:hover {
    text-decoration: underline;
    cursor: pointer;
} */














/* other styles */
h2, h3, h4, p {
    display: block;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    
}

h1 {
 font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3 {

}

h4 {
    font-size: 1.3vw;
}

h5 {

}

p,
fa-icon {
    font-size: 1vw;
}

::-webkit-scrollbar {
    width: 0.5vw; 
    height: 2vw; 
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: #0077B6; /* color of the scrollbar thumb */
    border-radius: 6px; /* roundness of the thumb */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* color of the scrollbar track */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background-color: transparent; /* color of the scrollbar corner */
  }
