<div *ngIf="!populated">
  <p>LOADING</p>
</div>
<div *ngIf="populated">
  <div class="new-todo-box">
    <div class="todo-card">
      <div class="new-todo-heading">
        <h1>Create New Category</h1>
      </div>
      <div class="form-box">
        <form [formGroup]="newCatForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="category" id="category">Name of the category:</label> <br />
            <input type="text" id="category" formControlName="category" />
          </div>

          <button
            type="submit"
            [disabled]="!newCatForm.valid"
            class="new-task-send"
          >
            SEND
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
